//-----------------------------------------------------------------
// Button Styles
//-----------------------------------------------------------------

@mixin button($color, $bordered: false) {
  $btnTextColor: $white;

  @if($color == $white) {
    $btnTextColor: #000;
  }

  @if($bordered) {
    color: $color;
    border-color: $color;
    background-color: transparent;

    @include active {
      color: $btnTextColor;
      border-color: $color;
      background-color: $color;
    }
  }

  @else {
    color: $btnTextColor;
    border-color: $color;
    background-color: $color;

    @include active {
      color: $color;
      background-color: transparent;
      border-color: $color;
    }
  }
}

@mixin ButtonStyles {

	// Button Reset
	button {
		border: 0;
		padding: 0;
		margin: 0;
		outline: 0;
		cursor: pointer;	
		background-color: transparent;
	}

	%button-defaults {
		@content;
	}
	
	.button,
	[type="submit"] {
		@extend %button-defaults;
		color: $white;
		border-color: $primary;
		background-color: $primary;
		&:hover,
		&:focus {
			background-color: transparent;
			color: $primary;
		}
	}
}

@mixin ButtonClasses {
	.button {
		@each $color, $value in $colour-map {
			&.button--#{$color} {
				@include button($value);
			}

			&.button--bordered--#{$color} {
				@include button($value, true);
			}
		}
	}
}

@mixin Buttons {
	@include ButtonStyles;
	@include ButtonClasses;
}
