//------------------------------------------------------------------
// Lists

@mixin ListStyles {
  ul,
  ol {
    &:not(.unstyled) {
      padding-left: 20px;
      margin-bottom: 30px;

      @include media($xmd) {
        padding-left: 60px;
      }

      &:before {
        content: none;
      }

      li {
        padding-left: 10px;
        margin-bottom: 10px;

        ul,
        ol {
          margin-top: 10px;
        }
      }
    }
  }

  ol {
    &:not(.unstyled) {
      list-style: decimal;
    }
  }
}

@mixin ListClasses {
  //------------------------------------------------------------------
  // Coloured Bullets
  
  %bullet {
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: .5em;
      left: -19px;
    }
  }

  ul {
    @each $color, $value in $colour-map {
      &.coloured--#{$color} {
        @extend %bullet;

        &:before {
          background-color: $color;
        }
      }
    }
  }
}

@mixin Lists {
  @include ListStyles;
  @include ListClasses;
}