//------------------------------------------------------------------
// Login Page
//------------------------------------------------------------------


.login {
  position: relative;
  height: 100vh;
  // background: radial-gradient(circle, darken($white, 80%), darken($white, 100%));
  background-color: $primary;
  // background: radial-gradient(circle, $primary 0%, darken($primary, 20%));

  &:before,
  &:after {
    content: '';
    display: block;
    @include pos(absolute, 0);
  }

  &:before {
    opacity: 0.2;
    // background: linear-gradient(45deg, darken($white, 80%), darken($white, 100%));
  }

  &:after {
    // @include media($sm, max) {
      // background-color: rgba($white, 0.8);
    // }
  }

  .loginHeight {
    height: 100vh;
  }

  &__wrap {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;

    &__content {
      display: block;
      position: relative;
      margin: 0 auto;
      padding: 20px;
      width: 100%;
      max-width: 600px;
      border-radius: 0;
      color: $white;

      transition: border-radius .3s ease, padding .3s ease, width .3s ease;

      @include media($sm) {
        // background-color: rgba($white, 0.4);
        width: calc(100% - #{$gutterWidth * 2});
        padding: 80px 30px;
        border-radius: 60px;
      }

      @include media($xmd) {
        padding: 80px;
        // border-radius: 60px;
      }


      &__header {
        text-align: center;
        margin-bottom: 40px;
      }

      &__text {
        text-align: center;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba($white, 0.3);
      }

      &__form {
        @include autofill($white);

        padding-left: 20px;
        padding-right: 20px;

        .field {
          margin-bottom: 10px;
        }

        input:not([type="submit"]) {
          color: $white;
          border: none!important;
          border-radius: 5px!important;
          background-color: rgba($white, .1)!important;
          @include media($xmd) {
            border-radius: 10px;
          }
        }

        [type="submit"] {
          width: 100%;
          @include button($white, true);
        }

        [type="checkbox"] + label {
          &:before {
            border-color: $white;
          }

          &:after {
            background-color: $white;
          }
        }

        .btn-toolbar {
          width: calc(100% + #{$gutterWidth * 2});
          margin-left: -$gutterWidth;
          margin-right: -$gutterWidth;
        }

        #ForgotPassword,
        #BackToLogin {
          text-align: center;
          margin-top: 30px;
          padding-top: 30px;
          border-top: 2px solid rgba($white, 0.3);
          a {
            color: $white;

            @include active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

}
