//------------------------------------------------------------------
// Core Colours

@if not (variable-exists('success-colour')) {
  $success-colour: #65b922;
}
@if not (variable-exists('warning-colour')) {
  $warning-colour: #ffd33a;
}
@if not (variable-exists('error-colour')) {
  $error-colour: #e44e4e;
}
@if not (variable-exists('white')) {
  $white: #fff;
}
@if not (variable-exists('off-white')) {
  $off-white: #f9f9f9;
}
@if not (variable-exists('grey-light')) {
  $grey-light: #ebebeb;
}
@if not (variable-exists('black')) {
  $black: #000;
}
@if not (variable-exists('black-light')) {
  $black-light: #434343;
}
@if not (variable-exists('text')) {
  $text: #434343;
}
@if not (variable-exists('text-light')) {
  $text-light: #6d6e6a;
}
@if not (variable-exists('green')) {
  $green: #00ff02;
}
@if not (variable-exists('red')) {
  $red: #ff0000;
}

//------------------------------------------------------------------
// Theme Colours

@if not (variable-exists('primary')) {
  $primary: #377bff;
}
@if not (variable-exists('secondary')) {
  $secondary: #C0C0C0;
}
@if not (variable-exists('tertiary')) {
  $tertiary: #5C5C5C;
}

@if not (variable-exists('colour-map')) {
  $colour-map: (
    'white': $white,
    'off-white': $off-white,
    'black': $black,
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
  );
}